openai
langchain
langchain-openai
langchainhub
langchain-community
langchain-chroma
langchain-experimental
langchain-unstructured
langgraph
streamlit
faiss-cpu
lxml
pypdf
numpy
pandas
matplotlib
python-dotenv
python-magic
plotly
PyYAML
sentence-transformers
pdfplumber
reportlab
python-docx
docx2txt
pymupdf
nltk
pydantic
chromadb
pinecone
pytesseract
tiktoken
unstructured[all-docs]
beautifulsoup4
mammoth
pandoc
openpyxl
Spire.Doc